body {
	margin: 0;
}

#root {
	height: 100vh;
}

img {
	padding-left: 10px;
}

.wrapper {
	height: 100vh;
}

.row {
	display: flex;
	min-height: 40px;
	padding: 10px;
	align-items: flex-start;
}

.row span {
	font-size: 53px;
	display: block;
	float: left;
	padding: 0 10px;
}

.placeholder {
	background-color: #333;
}
